<div class="modal fade" id="imageInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<div id="createAdmissionLetter" class="modal fade" role="dialog">
    <form [formGroup]="createAdmissionLetterForm" (ngSubmit)="createAdmissionLetter()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Create Admission </h4>
                    <button class="close" type="button"
                            (click)="triggerModalOrOverlay('close','createAdmissionLetter')">&times;
                    </button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="schoolname">First Name:</label>
                                <input class="form-control" formControlName="first_name" id="schoolname"
                                       placeholder="First Name">

                            </div>
                            <div class="col-md-6">

                                <label for="middle_name">Middle Name:</label>
                                <input class="form-control" id="domain" formControlName="middle_name"
                                       placeholder="Middle Name">
                                <!--  -->


                                <!--  -->
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="schooldomain">Last Name:</label>
                                <input class="form-control" id="domain" formControlName="last_name"
                                       placeholder="Last Name">

                            </div>

                            <div class="col-md-6">

                                <label for="email">Email:</label>
                                <input class="form-control" formControlName="email" id="email" placeholder="Email">


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">


                                <label for="country">Country:</label>
                                <select class="form-control" #newCountry formControlName="country_id" id="country"
                                        (change)="getStateByCountryId(newCountry.value)">
                                    <option value="" disabled>Select Country</option>
                                    <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">
                                        {{country.name}}
                                    </option>
                                </select>


                            </div>
                            <div class="col-md-6">

                                <label for="state">State:</label>
                                <select class="form-control" formControlName="state_id" id="state">
                                    <option value="" disabled>Select State</option>
                                    <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                                        {{state.name}}
                                    </option>
                                </select>


                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-6">


                                <label for="course">Faculty:</label>
                                <select class="form-control" #faculty formControlName="faculty_id" id="faculty"
                                        (change)="getDepartmentByByFacultyId(faculty.value)">
                                    <option value="" disabled>Select Faculty</option>
                                    <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">
                                        {{faculty.name}}
                                    </option>
                                </select>


                            </div>
                            <div class="col-md-6">
                                <label for="department">Department:</label>
                                <i class="fa fa-spinner fa-spin" *ngIf="load.departments.loading"></i>
                                <select class="form-control" #deprtmnt formControlName="department_id" id="department"
                                        (change)="getCourseByDepartmentId(deprtmnt.value)"
                                        [disabled]="!load.departments.list || load.departments.loading">
                                    <option value="" disabled>Select Department</option>
                                    <option *ngFor="let department of allDepartments; let ind=index"
                                            value="{{department.id}}">{{department.name}}
                                    </option>
                                </select>


                            </div>

                        </div>


                        <div class="row">

                            <div class="col-md-6">
                                <label for="course">Course of Study:</label>
                                <i class="fa fa-spinner fa-spin" *ngIf="load.courses.loading"></i>
                                <select class="form-control" #course formControlName="course_of_study_id" id="course"
                                        [disabled]="!load.courses.list || load.courses.loading">
                                    <option value="" disabled>Select Course</option>
                                    <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">
                                        {{course.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">

                                <label for="matric_no">Matriculation Number:</label>
                                <input class="form-control" formControlName="matric_no" id="matric_no"
                                       placeholder="Matric No">

                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm"
                            [disabled]="createAdmissionLetterForm.invalid || load.requesting.create">
                        {{load.message.create}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>

                    <button type="button" class="btn btn-danger btn-sm"
                            (click)="triggerModalOrOverlay('close','createAdmissionLetter')">Close
                    </button>

                </div>
            </div>
        </div>
    </form>
</div>

<div id="updateAdmissionLetter" class="modal fade" role="dialog">
    <form [formGroup]="updateAdmissionLetterForm" (ngSubmit)="updateAdmissionLetter()">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Update {{updatedAdmissionLetter?.first_name}}
                        {{updatedAdmissionLetter?.last_name}}</h4>
                    <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateAdmissionLetter')">Close</button> -->
                    <button class="close" type="button"
                            (click)="triggerModalOrOverlay('close','updateAdmissionLetter')">&times;
                    </button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="schoolname">First Name:</label>
                                <input class="form-control" formControlName="first_name" id="schoolname"
                                       placeholder="First Name">

                            </div>
                            <div class="col-md-6">

                                <label for="middle_name">Middle Name:</label>
                                <input class="form-control" id="domain" formControlName="middle_name"
                                       placeholder="Middle Name">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="schooldomain">Last Name:</label>
                                <input class="form-control" id="domain" formControlName="last_name"
                                       placeholder="Last Name">

                            </div>

                            <div class="col-md-6">

                                <label for="email">Email:</label>
                                <input class="form-control" formControlName="email" id="email" placeholder="Email">


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">


                                <label for="country">Country:</label>
                                <select class="form-control" #country formControlName="country_id" id="country"
                                        (change)="getStateByCountryId(country.value)">
                                    <option value="" disabled>Select Country</option>
                                    <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">
                                        {{country.name}}
                                    </option>
                                </select>


                            </div>
                            <div class="col-md-6">

                                <label for="state">State:</label>
                                <select class="form-control" formControlName="state_id" id="state">
                                    <option value="" disabled>Select State</option>
                                    <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                                        {{state.name}}
                                    </option>
                                </select>


                            </div>

                        </div>


                        <!-- <div class="row">
                                    <div class="col-md-6">


                                        <label for="course">Faculty:</label>
                                        <select class="form-control" #faculty formControlName="faculty_id" id="faculty" (change)="getDepartmentByByFacultyId(faculty.value)">
                                            <option value="" disabled>Select Faculty</option>
                                            <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">{{faculty.name}}</option>
                                        </select>


                                    </div>
                                    <div class="col-md-6">
                                        <label for="department">Department:</label>
                                        <i class="fa fa-spinner fa-spin" *ngIf="load.departments.loading"></i>
                                        <select class="form-control" #deprtmnt formControlName="department_id" id="department"
                                            (change)="getCourseByDepartmentId(deprtmnt.value)" [disabled]="!load.departments.list || load.departments.loading">
                                            <option value="" disabled>Select Department</option>
                                            <option *ngFor="let department of allDepartments; let ind=index" value="{{department.id}}">{{department.name}}</option>
                                        </select>


                                    </div>

                                </div>

         -->


                        <div class="row">

                            <div class="col-md-6">
                                <label for="course">Course of Study:</label>
                                <i class="fa fa-spinner fa-spin" *ngIf="load.courses.loading"></i>
                                <select class="form-control" #course formControlName="course_of_study_id" id="course"
                                        [disabled]="!load.courses.list || load.courses.loading">
                                    <option value="" disabled>Select Course</option>
                                    <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">
                                        {{course.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">

                                <label for="matric_no">Matriculation Number:</label>
                                <input class="form-control" formControlName="matric_no" id="matric_no"
                                       placeholder="Matric No" readonly disabled>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-success btn-sm"
                            [disabled]="updateAdmissionLetterForm.invalid || load.requesting.create">
                        {{load.message.update}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>


                    <button type="button" class="btn btn-danger btn-sm"
                            (click)="triggerModalOrOverlay('close','updateAdmissionLetter')">Close
                    </button>


                </div>
            </div>
        </div>
    </form>
</div>

<div class="m-portlet m-portlet--mobile ">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Admission Letter
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                         data-dropdown-toggle="hover"
                         aria-expanded="true">
                        <a href="#"
                           class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                            <i class="la la-ellipsis-h m--font-brand"></i>
                        </a>
                        <div class="m-dropdown__wrapper">
                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                        <ul class="m-nav">
                                            <li class="m-nav__section m-nav__section--first">
                                                <span class="m-nav__section-text">
                                                    Quick Actions
                                                </span>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-share"></i>
                                                    <span class="m-nav__link-text">
                                                        Create Post
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                    <span class="m-nav__link-text">
                                                        Send Messages
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                                    <span class="m-nav__link-text">
                                                        Upload File
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__section">
                                                <span class="m-nav__section-text">
                                                    Useful Links
                                                </span>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-info"></i>
                                                    <span class="m-nav__link-text">
                                                        FAQ
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                    <span class="m-nav__link-text">
                                                        Support
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                                            <li class="m-nav__item m--hide">
                                                <a href="#"
                                                   class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                    Submit
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin: Datatable -->
        <!--<div>-->
            <!--<div class='wrapper'>-->
                <!--<div class='container' [dragula]='"first-bag"' [dragulaOptions]="options">-->
                    <!--<div>You can move these elements between these two containers</div>-->
                    <!--<div>Moving them anywhere else isn't quite possible</div>-->
                    <!--<div>There's also the possibility of moving elements around in the same container, changing their-->
                        <!--position-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class='container' [dragula]='"first-bag2"' [dragulaOptions]="options">-->
                    <!--<div>This is the default use case. You only need to specify the containers you want to use</div>-->
                    <!--<div>More interactive use cases lie ahead</div>-->
                    <!--<div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation-->
                        <!--on GitHub!</a></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <editor apiKey="9jjw82uuedmeuo34e0l8aq4awteoxhyujszg58fjovbt6gon" [init]="{plugins: 'link'}" (onKeyUp)="logUserInput($event)"></editor>
<!--<button (click)="showInput()"> Show Input</button>-->
       <div [innerHTML]="showInputText"></div>

        <!--<div [froalaEditor]-->
             <!--(keyup)="logUserInput($event.target)"-->
             <!--(image.inserted)="triggerImageInfo('imageInfo')">Hello, Froala!-->
        <!--</div>-->
        <button (click)="showInput()"> Show Input</button>
    </div>

</div>
