<div class="m-content">
  <div class="row">
    <div class="col-xl-3 col-lg-4">
      <div class="m-portlet m-portlet--full-height   m-portlet--rounded">
        <div class="m-portlet__body">
          <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
            <li class="m-nav__separator m-nav__separator--fit"></li>
            <li class="m-nav__section m--hide">
												<span class="m-nav__section-text">
													Section
												</span>
            </li>

            <li class="m-nav__item">
              <a routerLink="../reg" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-share"></i>
                <span class="m-nav__link-text">
														Student Registration
													</span>
              </a>
            </li>

            <li class="m-nav__item">
              <a class="m-nav__link">
                <i class="m-nav__link-icon flaticon-profile-1"></i>
                <span class="m-nav__link-text">
																Extra Course Unit
                </span>
              </a>
            </li>

            <li class="m-nav__item">
              <a class="m-nav__link">
                <i class="m-nav__link-icon flaticon-profile-1"></i>
                <span class="m-nav__link-text">
																Hostel Booking
                </span>
              </a>
            </li>

            <!--<li class="m-nav__item">
              <a routerLink="../reg/course" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-share"></i>
                <span class="m-nav__link-text">
														Register Course
													</span>
              </a>
            </li>-->
          </ul>
          <div class="m-portlet__body-separator"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8">
      <div class="m-portlet m-portlet--full-height m-portlet--tabs   m-portlet--rounded">
        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <div style="float: left">
              <h5>Student Registration</h5>
            </div>
          </div>
        </div>
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
