<div class="m-page-loader m-page-loader--base m-page-loader--non-block" style="margin-left: -80px; margin-top: -20px;">
    <div class="m-blockui">
		<span>
			Please wait...
		</span>
        <span>
			<div class="m-loader m-loader--brand"></div>
		</span>
    </div>
</div>

<div class="m-grid m-grid--hor m-grid--root m-page">
   <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-container--responsive m-container--xxl m-page__container m-body">

  <router-outlet></router-outlet>

   </div>
</div>
